<div class="header">
  <button (click)="toggleDimension()">{{(is3d$ | async) ? "Toggle 2d" : "Toggle 3d"}}</button>
</div>
<div>{{dateTracker | date:'medium'}}</div>
<div class="viewer">


  <ng-container *ngIf="is3d$ | async; else is2d">

    <three-orbit-controls positionX="0" positionY="0" positionZ="250" *ngIf="loaded">
      <three-renderer>
        <three-perspective-camera positionX="0" positionY="0" positionZ="250"></three-perspective-camera>
        <three-scene>
          <three-ambient-light></three-ambient-light>
          <three-directional-light></three-directional-light>
          <three-group name="projectiles">

            <!-- <ng-container *ngFor="let sat of satellites; let i = index;">
              <three-mesh [name]="sat.name">
                <three-sphere-buffer-geometry [radius]="sat.radius"></three-sphere-buffer-geometry>
                <three-standard-material [params]="{ color: sat.color }"></three-standard-material>
              </three-mesh>
            </ng-container> -->
            <three-mesh *ngFor="let vector of vertices; let i = index; trackBy: trackByFn" name="satellite_{{i}}"
              [positionX]="vector.x" [positionY]="vector.y" [positionZ]="vector.z">
              <three-box-geometry width="2" height="2" depth="2"></three-box-geometry>
              <three-standard-material [params]="satelliteMeshBasicMaterialParams"></three-standard-material>
            </three-mesh>

          </three-group>

          <three-group name="globe">
            <three-mesh name="globe_mesh">
              <!-- <three-box-geometry width="1" height="1" depth="1"></three-box-geometry> -->
              <three-sphere-buffer-geometry></three-sphere-buffer-geometry>
              <three-mesh-phong-material [params]="globeMeshPhongMaterialsParams"></three-mesh-phong-material>
              <!-- <three-lambert-material [color]='"0xF7F7F7"'></three-lambert-material> -->
              <!-- <three-standard-material></three-standard-material> -->
            </three-mesh>
            <three-mesh name="clouds_mesh">
              <three-sphere-buffer-geometry></three-sphere-buffer-geometry>
              <three-mesh-phong-material [params]="cloudsMeshPhongMaterialsParams"></three-mesh-phong-material>
            </three-mesh>
          </three-group>

          <!-- <three-group>
            <three-mesh name="stars_mesh">
              <three-sphere-buffer-geometry [radius]="90" [widthSegments]="64"></three-sphere-buffer-geometry>
              <three-standard-material [params]="starsMeshBasicMaterialParams"></three-standard-material>
            </three-mesh>
          </three-group> -->
        </three-scene>
      </three-renderer>
    </three-orbit-controls>

  </ng-container>
  <ng-template #is2d>

    <three-orbit-controls>
      <three-renderer>
        <!-- <three-perspective-camera></three-perspective-camera> -->
        <three-orthographic-camera></three-orthographic-camera>
        <three-scene>
          <three-ambient-light></three-ambient-light>
          <three-directional-light></three-directional-light>
          <three-group name="projectiles">

            <ng-container *ngFor="let sat of satellites; let i = index;">
              <three-mesh [name]="sat.name">
                <three-sphere-buffer-geometry [radius]="sat.radius"></three-sphere-buffer-geometry>
                <three-standard-material [params]="{ color: sat.color }"></three-standard-material>
              </three-mesh>
            </ng-container>

          </three-group>
          <three-group name="main">
            <three-group name="dots"></three-group>
            <three-group name="globe">
              <three-mesh name="globe_mesh">
                <!-- <three-box-geometry width="1" height="1" depth="1"></three-box-geometry> -->
                <three-plane-geometry radius="10"></three-plane-geometry>
                <three-mesh-phong-material [params]="globeMeshPhongMaterialsParams"></three-mesh-phong-material>
                <!-- <three-lambert-material [color]='"0xF7F7F7"'></three-lambert-material> -->
                <!-- <three-standard-material></three-standard-material> -->
              </three-mesh>
              <three-mesh name="clouds_mesh">
                <!-- <three-box-geometry width="1" height="1" depth="1"></three-box-geometry> -->
                <three-plane-geometry radius="10.05"></three-plane-geometry>
                <three-mesh-phong-material [params]="cloudsMeshPhongMaterialsParams"></three-mesh-phong-material>
                <!-- <three-lambert-material [color]='"0xF7F7F7"'></three-lambert-material> -->
                <!-- <three-standard-material></three-standard-material> -->
              </three-mesh>
            </three-group>

          </three-group>
        </three-scene>
      </three-renderer>
    </three-orbit-controls>
  </ng-template>

</div>